* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #eee;
}
body {
  /*
  min-width 设置当前元素的最小宽度 
  max-width 设置当前元素的最大宽度 
  */
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  background-color: #fff;
}
/* 头部开始 */

.header > img {
  /* 不会随着网页的缩小而缩小 */
  background-color: red;
  width: 100%;
  /* 默认图片和盒子的基线对齐,让图片和盒子底部对齐 */
  vertical-align: bottom;
}
/* 头部结束 */

/* 网格区域开始 */
.main {
  color: #fff;
}
.main > .section {
  display: flex;
  /* 每一行的宽度等比扩充/缩小,高度不变 */
  height: 100px;
  background-color: skyblue;
  margin: 4px 2px 4px 2px;
}

.main > .section > .col {
  /* 等比扩充
  flex-grow: 1;
  等比缩小
  flex-shrink: 1; */
  /* 实现在网格布局中每一行的分隔线都对齐 */
  flex: 1;
  border-left: 1px solid #fff;
  box-sizing: border-box;
  background-color: #ff5555;
  text-align: center;
}
.main > .section:nth-child(2) > .col {
  background-color: #00a7f7;
}
.main > .section:nth-child(3) > .col {
  background-color: #7cb832;
}
.main > .section:nth-child(4) > .col {
  background-color: #ff9900;
}
.main > .section > .col:nth-child(1) {
  border-left: none;
}
.section > .hotel > p {
  margin: 15px 0;
}
.section > .hotel > img {
  width: 42px;
  height: 46px;
}
.main > .section > .col > div {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
}
.main > .section > .col > div:last-child {
  border-bottom: none;
}
.main > .section:nth-last-child(1) {
  height: 50px;
  line-height: 50px;
}
/* 网格区域结束 */

/*底部导航开始*/
.nav{
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav>ul{
  display: flex;
  list-style: none;
  background-color: #fff;
}
.nav>ul>li{
  flex: 1;
  height: 70px;
  text-align: center;

}
.nav>ul>li>i{
  margin-top: 12px;
  width: 33px;
  height: 33px;
  display: inline-block;
  background: url("./../images/icons.png") no-repeat ;
  background-position: -35px -12px;
}
.nav>ul>li:nth-child(2)>i{
  background: url("./../images/icons.png") no-repeat ;
  background-position:-124px -12px;
}
.nav>ul>li:nth-child(3)>i{
  background: url("./../images/icons.png") no-repeat ;
  background-position:-212px -12px;
}
.nav>ul>li:nth-child(4)>i{
  background: url("./../images/icons.png") no-repeat ;
  background-position:-300px -79px;
}
.nav>ul:nth-child(2)>li:nth-child(1)>i{
  background: url("./../images/icons.png") no-repeat ;
  background-position:-212px -79px ;
}
.nav>ul:nth-child(2)>li:nth-child(2)>i{
  background: url("./../images/icons.png") no-repeat;
  background-position:-124px -79px;
}
.nav>ul:nth-child(2)>li:nth-child(3)>i{
  background: url("./../images/icons.png") no-repeat ;
  background-position:-40px -79px;
}
.nav>ul:nth-child(2)>li:nth-child(4)>i{
  background: url("./../images/icons.png") no-repeat;
  background-position:-300px -12px;
}
.nav>ul>li>p{
  font-size: 12px;
  color: #666666;

}

/*底部导航结束*/

/*底部指引开始*/
.guide{
  display: flex;
  height: 80px;
  background-color: #fff;

}
.guide>div{
  flex: 1;
  text-align: center;
}
.guide>div>i{
  margin-top: 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #666666;
  border-radius: 50%;
}
.guide>div:nth-child(1)>i{
  font-size: 30px;
}
.guide>div:nth-child(2)>i{
  font-size: 22px;
}
.guide>div:nth-child(3)>i{
  font-size: 20px;
}
.guide>div>p{
  color: #666666;
  font-size: 12px;
}

/*底部指引结束*/

/*底部开始*/
.footer{
  height: 50px;
  background-color: gray;
}
.footer>p{
  float: left;
  line-height: 50px;
  font-size: 12px;
  color: #666666;
}
.footer>p:nth-child(1){
  margin-right: 20px;
}
.footer>p>a{
  text-decoration: none;
  font-size: 12px;
  color: #666666;
}

/*底部结束*/